
*
{	box-sizing: border-box;
  padding: 1px;
}

body {
  
   padding: 10px;
   background-image: url("../images/pasture2.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   font-size: 16px;
}

img {
    border: 6px solid #ddd;
    border-radius: 30px;
    padding: 1px; /* this pads around the picture inside the box and makes it smaller as the number gets larger*/
    max-width: 150px;
    margin: 50px 50px 50px 125px;
   
}