
*
{	box-sizing: border-box;
  padding: -5px;
}

body {
   
   padding: 6px;
   background-image: url("../images/Stellainpasture2.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   font-size: 20px;
   margin:-110px 0px 0px 275px; /* top right left right */
   
}
header {
	
	padding-top: 20px;
}

h1 {
	font-family: 'Helvetica';
	font-size: 80px;
	padding-top: 25px;
	margin: 70px 0px 0px 80px;
	color: #135A11;
	
}
	
.dropbtn {
    background-color: #1F921A ;
    min-width: 190px;
    color: white;
    padding: 8px;
    font-size: 26px;
    cursor: pointer;
    margin:-1000px 0px 0px -220px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #A5ECE4;
    color: #1F921A;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E4FFFC;
    min-width: 190px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin:0px 0px 0px -220px;
}

.dropdown-content a {
    color: black;
    font-size: 26px;
    padding: 6px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

ul {
	list-style-type: none;
	
}
li {
	margin:0px 10px 0px 50px;
	
}

a {text-decoration: none; }


footer {
	color: #135A11;
	margin: -20px 0px 0px 350px;
	font-size: 20px;
}

p {
	margin: -200px 0px 0px -175px;
}
aside {

}











