<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Disciplines</title>
	
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../../css/discipline.css" th:href="@{/css/discipline.css}" />

</head>
<body>


<ul>
	  <li th:each="discipline: ${discipline}"> 	    
	   	 	<span th:text="${discipline.title}"></span>
    	</li>
	</ul>
	   	 	
			 <div><img th:src="|/images/${discipline.imgUrl2}" />
			 <img th:src="|/images/${discipline.imgUrl}" />
			 <img th:src="|/images/${discipline.imgUrl3}" />
		</div>

<article th:text="${discipline.description}"></article>


<div>
	<p><a th:href="@{/disciplines}">Back to list of disciplines</a></p>
	<p><a th:href="@{/breeds}">Back to list of breeds</a></p>
</div>

<footer> <small>Copyright www.bridleplates.com LLC 2018</small> </footer>
</body>
</html>

