<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Breeds</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../../css/disciplines.css" th:href="@{/css/disciplines.css}" />
</head>

<body>
	<header>
		<h1 id="disciplines">Disciplines</h1>
	</header>

	<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Navigation</button>
		<div id="myDropdown" class="dropdown-content">
			<a href="breeds.html">All Breeds</a> <a href="breeds/1">Thoroughbred</a>
			<a href="breeds/2">Warmblood</a> <a href="breeds/3">Quarter Horse</a>
			<a href="breeds/4">Arabian</a> <a href="breeds/5">Mini</a> <a
				href="breeds/6">Budweiser</a>
		</div>
	</div>
	<script>
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		function runTests() {
			testHeader();
			testCountOfBreedsInDropdown();

		}

		function testHeader() {
			var str = document.getElementById("disciplines").value;
			var patt = new RegExp(document.getElementById("disciplines").value);
			var res = patt.test(str);
			alert("Header Test: " + res);

		}

		function testCountOfBreedsInDropdown() {
			var anchors = document.getElementById("myDropdown")
					.getElementsByTagName("a");
			var testLength = new RegExp(anchors.length).test("7");
			alert("Anchor Test Count: " + anchors.length + "(" + testLength
					+ ")");

		}
	</script>

	<ul>
		<li th:each="discipline : ${disciplines}"><a
			th:href="|@{/disciplines/}${discipline.id}|"> <span
				th:text="${discipline.title}"></span>
		</a></li>
	</ul>
	
	<aside>
		<button onclick="runTests()" class="dropbtn">Alan, Click
			Here!</button>
	</aside>

	<footer> Copyright www.bridleplates.com LLC 2018 </footer>
<p><a th:href="@{/tags}">Browse by tag</a></p>
<script src="/js/app.js"></script>
</body>
</html>
